@use "../abstracts/tokens" as t;

//viene caricato una volta sola e crea in globale le variabili CSS



:root {
  --main-rose: #{t.$main-rose-color};
  --main-rose-dark: #{t.$main-dark-rose-color};
  --main-rose-light: #{t.$main-light-rose-color};
  --selection-light-color: #{t.$selection-light-color};
  --selection-dark-color: #{t.$selection-dark-color};
  --bt-bg-color: #{t.$bt-color};
}
