
// Font
@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
}

// Mixin
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Funzioni (se servono)
@function rem($px) {
  @return ($px / 16) * 1rem;
}