// 1. Moduli SCSS (variabili, mixin, ecc.)

@use 'variables' as *;
@use 'base' as *;

// 2. Tailwind (utility e componenti)
//importato di default da nuxt.config.ts (via postcss

body {
	font-family: $font-primary;
	color: $color-text;
	line-height: 1.6;
}



// @use 'breakpoints';
// @use 'theme';

// // Esempio di utilizzo
// body {
//   background-color: $color-bg;
//   color: $color-text;
// }

// .button {
//   background-color: $color-primary;
//   color: $color-bg;

//   @include respond(md) {
//     padding: rem(16);
//   }

//   @include respond(xl) {
//     padding: rem(24);
//   }
// }