

$primary: #49240F;
$secondary: #E4A79D;


// Variabili



// // 🎨 Palette colori
$color-primary: #0077B6;
$color-secondary: #023E8A;
$color-accent: #90E0EF;
$color-highlight: #CAF0F8;
$color-contrast: #FFDDD2;
$color-neutral: #E0E0E0;
$color-dark-bg: #03045E;
$color-dark-text: #001F3F;
$color-text: #222;



// // 🖋️ Tipografia
// // $font-primary: 'Roboto', sans-serif;
// // $font-family: 'Roboto', sans-serif;
// $font-size-base: 1rem;
// $font-size-medium: 1.1rem;
// $font-size-large: 2.2rem;
// $line-height-base: 1.6;

// // 📐 Spaziature
// $spacing-sm: 0.5rem;
// $spacing-md: 1rem;
// $spacing-lg: 2rem;

// // 🧱 Bordo e raggio
// $border-radius: 6px;
// $border-color: $color-neutral;



// $block-bg-red: #FFCDD2; // Rosso chiaro per blocchi di test
